
/* Темная тема - будет применяться через JavaScript */
body.dark-theme {
    background-color: #1e1e1e;
    color: #d4d4d4;
}





body.dark-theme .resizer {
    background-color: #444;
}

body.dark-theme .resizer:hover {
    background-color: #4ec9b0;
}
/* Для темной темы */
.dark-theme #output {
    background: #1e1e1e;
    color: #e0e0e0;
}

.dark-theme .code-input {
    background: #252526;
    color: #e0e0e0;
    border-color: #444;
}

.dark-theme .user-input {
    color: #4caf50;
}